.footer{
    text-align: center;
    margin-top: 50px;
    
    padding: 7px;
    
    background-color:#8593A6;
    
  }
  
  .footer1{
    background-color: #324359;
    margin-top: -20px;
    padding: 0px;
    color: #ffffff;
  }

  .github-logo{
    text-align: right;
    color: #333;

    margin-top: 5px;
    margin-left: 15px;
  }